* {
    font-family: Nunito,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    background: #f9fafc!important
}